@using Microsoft.AspNet.Identity

    @if (Request.IsAuthenticated)
    {
        
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
        @Html.AntiForgeryToken()

        <ul class="navbar-nav navbar-right">
            <li class="btn-light">
                @Html.ActionLink("Merhaba " + User.Identity.GetUserName() + "", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                <i class="far fa-smile-beam"></i>
            </li>
            &nbsp;
            <li class="btn-light">
                <a href="javascript:document.getElementById('logoutForm').submit()">Çıkış Yap</a>
                <i class="fas fa-times"></i>
            </li>
        </ul>
        }
    }
    else
    {
        <ul class="navbar-nav navbar-right">
            <li class="btn-light"><i class="far fa-user"></i>
                @Html.ActionLink("Üye Ol", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
            </li>
            &nbsp;
            <li class="btn-light"><i class="fas fa-user"></i>@Html.ActionLink("Giriş Yap", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    }
