@model ETicaret_MVC.Entities.Category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container pb-5">
    <hr />
    <h4>Kategoriyi silmek istediğinize emin misiniz?</h4>
    <hr />
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Sil" class="btn btn-danger far fa-trash-alt"/>
                @Html.ActionLink("Kategori Listesine Dön", "Index", null, new { @class = "btn btn-warning fas fa-angle-double-left" })
            </div>
        }
    </div>
</div> 